.slick_cust{

    width: 100vw;
    height: 100vh;
    background-image: url('../../../public/images/about_bg.jpg');
    position: fixed;
    &__slide{
        height: 100vh;
        background-color: rgba(179, 44, 194, 0.499);
 
    }
    &__close{
        position: fixed;
        top: 30px;
        right: 60px;
        z-index: 2;
    }
    &__prev{
        position: fixed;
        top: 50%;
        left: 60px;
        transform: translate(0, -50%);
        z-index: 2;
    }
    &__next{
        position: fixed;
        top: 50%;
        transform: translate(0, -50%);
        right: 60px;
        z-index: 2;
    }
    &__num{
        position: fixed;
        top: 23px;
        left: 60px;
        z-index: 2;
        font-size: 14px;
        line-height: 17px;
        font-family: $font-proxima-nova-bold;
        color: $color_grey1;
    }
}


