@import 'main-page/header.scss';
@import 'main-page/about.scss';
@import 'main-page/media.scss';
@import 'main-page/festival.scss';
@import 'main-page/classes.scss';

.title__links{
    font-family: $font-royal-castle-regular;
    font-size: 20px;
    line-height: 29px;
    text-transform: uppercase;
}


