@import 'main-page/header.scss';
@import 'main-page/about.scss';

.title__links{
    font-family: $font-royal-castle-regular;
    color: $color_white;
    font-size: 20px;
    line-height: 29px;
    text-transform: uppercase;
}