@import "./../variables.scss";
.collaboration {
    display: grid;
    width: 100%;
    grid-template-columns: 0.62fr auto;
    height: min-content;
    .title__links {
        margin-left: 0.5vw;
    }
    &__area1 {
        position: relative;
        padding-left: 60px;
        color: $color_white;
        padding-top: 26px;
        background-color: $color_black1;
        .collaboration__area2-video {
            display: none;
        }
        &-subtitle {
            margin-left: 0.5vw;
            padding-top: 90px;
            font-family: $font-royal-castle-regular;
            font-size: 40px;
            line-height: 0.5;
        }
        &-interesting {
            display: flex;
            justify-content: space-between;
            font-family: $font-royal-castle-regular;
            font-size: calc(((100vw * 180px) / 1440px));

            text-transform: uppercase;
            & div:last-child {
                position: relative;
            }
        }
        &-bottitle {
            padding: 0;
            position: absolute;
            right: 3px;
            bottom: 0;
            width: max-content;
            font-size: calc(((100vw * 40px) / 1440px));
            text-transform: lowercase;
        }
        &-photo {
            display: grid;
            margin-left: 0.5vw;
            padding-top: 60px;
            row-gap: 1px;
            column-gap: 1px;
            padding-right: 10px;
            grid-template-rows: 260px 279px 220px;
            grid-template-areas:
                "photo-1 photo-1 photo-1 photo-2 photo-2"
                "photo-3 photo-3 photo-4 photo-4 photo-4"
                "photo-3 photo-3 photo-5 photo-5 photo-6";
            & div {
                background-color: black;
            }
            &-1 {
                grid-area: photo-1;
                background-image: url("../../../public/images/colaboration1.png");
            }

            &-2 {
                grid-area: photo-2;
                background-image: url("../../../public/images/colaboration2.jpg");
            }

            &-3 {
                grid-area: photo-3;
                background-image: url("../../../public/images/colaboration3.jpg");
            }

            &-4 {
                grid-area: photo-4;
                background-image: url("../../../public/images/colaboration4.jpg");
            }

            &-5 {
                grid-area: photo-5;
                background-image: url("../../../public/images/colaboration5.jpg");
            }
            &-6 {
                grid-area: photo-6;
                background-image: url("../../../public/images/colaboration6.jpg");
            }
        }
        &-foottitle {
            padding-top: 60px;
            font-size: 14px;
            line-height: 140%;
            color: $color_white;
            &_contacts {
                padding-left: 3px;
                font-family: $font-proxima-nova-bold;
                &:hover {
                    color: $color_purpure1;
                    transition: color 0.5s ease;
                    & svg {
                        fill: $color_purpure1;
                        & path {
                            stroke: $color_purpure1;
                            transition: stroke 0.5s ease;
                        }
                    }
                }
            }
        }
    }
    &__area2 {
        color: $color_black1;
        background-color: $color_white;
        position: relative;
        padding-bottom: 100px;
        &-interesting {
            display: flex;
            padding-top: 165px;
            justify-content: space-between;
            font-family: $font-royal-castle-regular;
            font-size: calc(((100vw * 182px) / 1440px));
            text-transform: uppercase;
            width: min-content;
            & div:first-child {
                position: relative;
            }
        }
        &-bottitle {
            font-size: calc(((100vw * 40px) / 1440px));
            padding: 0;
            position: absolute;
            left: 2px;
            bottom: 1px;
            width: max-content;
            text-transform: lowercase;
        }
        &-videotitle {
            padding-top: 60px;
            padding-left: 10px;
            font-size: 14px;
            color: $color_black2;
        }
        &-video {
            margin-left: 10px;
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-template-rows: 448px 445px;
            column-gap: 1px;
            row-gap: 1px;
            grid-template-areas:
                "v-1 v-1 v-1 v-1 v-2 v-2 v-2"
                "v-3 v-3 v-3 v-4 v-4 v-4 v-4";
            padding-top: 66px;
            &-1 {
                grid-area: v-1;
            }
            &-2 {
                grid-area: v-2;
            }
            &-3 {
                grid-area: v-3;
            }
            &-4 {
                grid-area: v-4;
            }
            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}

@media only screen and (max-width: 950px) {
    .collaboration {
        min-height: 3895px;
        padding-right: 30px;
        &__area1-photo {
            padding: 0;
            position: absolute;
            top: 381px;
            left: 30px;
            width: calc(100vw - 60px);
            z-index: 3;
            grid-template-rows: 500px 255px 300px 315px 265px 90px;
            grid-template-areas:
                "photo-1 photo-1"
                "photo-2 photo-4"
                "photo-2 photo-6"
                "photo-3 photo-6"
                "photo-3 photo-5"
                "photo-3 .";
        }
        &__area1 {
            padding: 30px 0 0 30px;
            .collaboration__area2-video {
                margin-left: 0px;
                width: calc(100vw - 60px);
                display: grid;
                position: absolute;
                top: 2200px;
                z-index: 3;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 677px 95px 670px;
                grid-template-areas:
                    "v-1 v-2"
                    "v-3 v-2"
                    "v-3 v-4";
            }
            &-foottitle {
                padding-top: 0px;
                position: absolute;
                top: 3740px;
                width: 200px;
            }
        }
        &__area2 {
            .collaboration__area2-video {
                display: none;
            }
            &-videotitle {
                padding-top: 1780px;
            }
            &-interesting{
                padding-top: 170px;
            }
        }
    }
}

@media only screen and (max-width: 450px) {
    .collaboration {
        padding-right: 10px;
        min-height: 1994px;
        &__area1-photo {

            top: 236px;
            left: 10px;
            width: calc(100vw - 20px);
            grid-template-rows: 240px 140px 180px 110px 140px 60px;
        }
        &__area1 {
            padding: 0 0 0 10px;
            &-subtitle {
                padding-top: 50px;
                font-size: 18px;
            }
            .collaboration__area2-video {
                left: 10px;
                width: calc(100vw - 20px);
                top: 1090px;
                grid-template-rows: 320px 60px 320px;
            }
            &-foottitle{
                left: 10px;
                top: 1900px;
                font-size: 12px;
            }
        }
        &__area2 {
            &-interesting {
                padding-top: 88px;
            }
            &-videotitle{
                padding-top: 915px;
                font-size: 11.5px;
            }
        }
    }
}
